.student-container {
    width: 90%;
    margin: auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .search-input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-btn {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: #218838;
  }
  
  .edit-btn {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }
  